*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:#f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.contenedor{
  width: 500px;
  margin: 40px auto;
}

.formulario .contenedor-inputs{
  padding: 20px;
  background: #fff;
  border-radius: 6px 6px 0 0;
}

.formulario input[type="text"],
.formulario input[type="email"]{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc ;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus{
  border-bottom: 2px solid #2ECC71 ;
}

.formulario input[type="radio"]{
  display: none;
}

.formulario .sexo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formulario .sexo .hombre{}
.formulario .sexo .mujer{}

.formulario .label-radio{
  background:rgba(245, 176, 65, .6) ;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 49.5%;
  border-radius: 3px;
}

.formulario input[type="radio"]:checked + .label-radio{
  background: #F5B041;
}

.formulario .terminos{
  text-align: center;
  font-weight: bold;
  color: #424242;
}

.formulario .terminos label{
  margin-left: 10px;
}

.formulario .error{
  display: none;
  margin-top: 20px;
  border-radius: 3px;
  background: #EC7063;
  color: #fff;
  padding: 15px 10px;
  padding-left: 40px;
  font-weight: bold;
}

.formulario .btn{
  width: 100%;
  text-align: center;
  background:#3498DB ;
  color: #fff;
  border: none;
  display: block;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 0 0 6px 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.formulario .btn:hover{
  background: #2E86C1 ;
}